<h1>DocumentaryFilms#new</h1>


<h1 class="text-center" >Create new Documentary</h1>
<br><br>

<div class="d-flex justify-content-center" >

<%= form_with model: @documentary_film, method: :post do |form|   %>
<div class="border p-5 shadow" >
 

<div class="mb-4" >
    <%=  form.label :name, "Documentary name", class: "form-label"   %>
    <%= form.text_field :name, class:"form-control" %>
</div>

<div class="mb-5" >
     <%=  form.label :director, "Documentary director", class: "form-label" %>
    <%= form.text_field :director, class:"form-control" %>
</div>

<div class="mb-5" >
     <%=  form.label :synopsis, "Documentary synopsis", class: "form-label" %>
    <%= form.text_field :synopsis, class:"form-control" %>
</div>


<div class="text-center" >
    <%= form.submit "Enviar" , class:"btn btn-dark" %>
</div>

</div>


</div>

<% end %>

<p>Find me in app/views/documentary_films/new.html.erb</p>
